body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  --navbar-height: 60px;
}

#content, #app {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100%;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
}